html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --main-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
  --backround-color: #f5f5f5;
  --btn-backround-color: #f5f4fa;
  --secondary-backround-color: #2f303a;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
  background-color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
    color: inherit;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  /* outline: 1px solid tomato; */
  /* background-color: tomato; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

/* ----------Header------------- */

.header {
  height: 80px;
  border-bottom: 1px solid #ececec;
}

.header .header-navigate {
  padding: 24px 0px 25px 0px;
  justify-content: space-between;
}

.header-nav {
  display: flex;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  margin-right: 93px;
}
.logo > span {
  color: #2196f3;
}
.header-navigate {
  display: flex;
}

.site-nav {
  display: flex;
  align-items: center;
  gap: 50px;
}

.site-nav .link {
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-color);
  font-weight: 500;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link-current {
  color: var(--accent-color);
}

.list-contact {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  display: flex;
  gap: 50px;
  align-items: center;
}

.list-contact .link {
  color: var(--secondary-color);
  text-decoration: none;
}

.list-contact .link:hover,
.list-contact .link:focus {
  color: var(--accent-color);
}

/* ------------Header end--------------- */

/* --------------Main---------------- */

/* --------------Hero---------------- */

.section-hero {
  background-color: var(--secondary-backround-color);
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero {
  text-align: center;
  background-color: var(--secondary-backround-color);
}
.hero .hero-title {
  flex-wrap: wrap;
  width: 696px;
  margin: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: white;
}

.btn {
  background-color: var(--accent-color);
  color: #ffffff;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

/* --------------section benefits---------------- */

.benefits .list {
  display: flex;
  gap: 30px;
  text-align: start;
}
.benefits-title {
  margin-bottom: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.benefits-text {
  width: 270px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
/* --------------section works---------------- */
.section-works {
  padding-top: 0px;
}
.works-title {
  margin-bottom: 50px;
  font-size: 36px;
}

.works .list {
  display: flex;
  gap: 30px;
}
.list .image {
  display: block;
}
/* --------------section workers---------------- */
.img-workers {
  display: block;
}

.workers-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.workers .card {
  width: 270px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.workers .list {
  display: flex;
  gap: 30px;
}
.workers-names {
  color: var(--main-color);
  font-weight: 700;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.workers-text {
  text-align: center;
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.17;
  font-weight: 400;
}
.team {
  background-color: var(--btn-backround-color);
}
.team-text {
  padding-top: 30px;
  padding-bottom: 30px;
}
/*  -----------section-buttons------------- */

.list-button {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 34px;
}

.button {
  font-family: 'Roboto', sans-serif;
  background-color: var(--btn-backround-color);
  color: var(--main-color);
  font-style: normal;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  letter-spacing: 0.03em;

  padding: 6px 25px;
  border: 0;
  border-radius: 4px;
}
.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
/* --------buttons end------------ */

/* -----------section-features------------ */
.hidden {
  visibility: hidden;
  font-size: 0;
}
.list-cards .item {
  display: block;
}
.list-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.cards .item-text {
  padding: 20px 24px 20px 24px;
  text-align: start;
  border: 1px solid #eeeeee;
  border-top: 0;
}
.item-text .title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
}
.item-text .text {
  font-size: 16px;
  color: var(--secondary-color);
}
.list .title {
  font-size: 18px;
  line-height: 2;
  color: var(--main-color);
  font-weight: 700;
  list-style-type: none;
}
.list .text {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.9;
  font-weight: 400;
  text-align: start;
  padding: 4px 24px 20px 24px;
}

/* -----------section-features end------------ */

/* --------------Main end---------------- */

/* ----------footer--------------- */
.footer {
  background-color: var(--secondary-backround-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-link {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
  font-weight: 700;
  text-decoration: none;
  margin-bottom: 20px;
}
.logo-link > span {
  color: #ffffff;
}

.contact .link {
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  line-height: 1.7;
  text-decoration: none;
}
.contact .link-contact {
  display: block;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
}

.contact .item:not(:last-child) {
  margin-bottom: 9px;
}

.contact .link-contact:hover,
.contact .link-contact:focus {
  color: var(--accent-color);
}

/* ----------footer end--------------- */
